/* Creating custom fonts */
@font-face {
    font-family: 'CustomFont2';
    src: url('../../fonts/Font2.woff2') format('woff2');
}

@font-face {
    font-family: 'CustomFont3';
    src: url('../../fonts/Font3.woff2') format('woff2');
}

@font-face {
    font-family: 'CustomFont4';
    src: url('../../fonts/Font4.woff2') format('woff2');
}

@font-face {
    font-family: 'CustomFont4';
    src: url('../../fonts/Font4.woff2') format('woff2');
}

/* Define CSS variables */
:root {
    --primary-color: #00AEF3;
    --secondary-color: #1A1E1F;
    --lighter-secondary-color: #2B2B2B;
    --darker-secondary-color: #161616;
    --white: #f4f4f4;
}

/* Reset default margin and padding */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply box-sizing reset */
* {
    box-sizing: border-box;
}

/********************/
/* Style the HEADER */
/********************/

.header {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 11px; /* Adjust the padding as needed */
    text-align: center;
    position: fixed;
    width: 100%;
    min-height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    z-index: 10;
    transition: 400ms ease;
}

.header .logo-container {
    padding: 11px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.header .logo-container img {
    margin-left: 145px;
    width: 182px;
    height: 40px;
    cursor: pointer;
}

/* Style the navigation */
.header .nav {
    padding: 0 11px;
    margin-left: 49px;
    display: flex;
    align-items: center;
}

.header .nav ul {
    display: flex;
    gap: 29px;
}

.header .nav ul li {
    list-style-type: none;
    padding: 10px;
}

.header .nav ul li a {
    text-decoration: none;
    color: var(--white);
    line-height: 26px;
    font-size: 14px;
    transition: 400ms ease;
    font-family: 'CustomFont2', Arial, Helvetica, sans-serif;
}

.header .nav ul li a.active {
    color: var(--primary-color);
}

.header .nav ul li a:hover {
    color: var(--primary-color);
}

/********************/
/* Style the FIRST SECTION */
/********************/

.main {
    padding-top: 84px;
}

.first-section {
    position: relative;
    height: 352px;
}

.first-section .caption {
    position: absolute;
    margin: 96px 0 10px calc((100% - 980px) * 0.5);
    color: var(--white);
    letter-spacing: 0;
    font-weight: bold;
    font-family: 'CustomFont3', Arial, Helvetica, sans-serif;
}

.first-section .caption h2 {
    font-size: 42px;
    line-height: 1.6em;
    margin-bottom: 10px;
}

.first-section .caption p {
    font-size: 34px;
    line-height: 1.6em;
}

.first-section img {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/********************/
/* Style the SECOND SECTION */
/********************/

.second-section {
    background: var(--lighter-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px;

}

.second-section .description p {
    color: var(--white);
    font-family: 'CustomFont2', Arial, Helvetica, sans-serif;
    font-size: 28px;
    max-width: 959px;
    padding-bottom: 43px;
}

.second-section button {
    border: none;
    background: transparent;
    color: var(--primary-color);
    font-size: 20px;
    font-family: 'CustomFont4', Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: 400ms ease;
}

.second-section button:hover {
    color: var(--white);
    opacity: 0.6;
}

/********************/
/* Style the THIRD SECTION */
/********************/

.third-section {
    background: var(--darker-secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 24% 58px;
    font-family: 'CustomFont2', Arial, Helvetica, sans-serif;
}

.third-section .section-caption {
    color: var(--white);
    opacity: 0.9;
    margin-bottom: 67px;
    font-weight: 100;
    width: 100%;
}

.courses {
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px);
    grid-row-gap: 25px;
    grid-column-gap: 40px;
    width: 100%;
}

.course {
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: rgba(85, 85, 85, 1) rgba(85, 85, 85, 1) rgba(85, 85, 85, 1) rgba(85, 85, 85, 1);
    border-radius: 6px 6px 6px 6px;
}

.course img {
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.course .course-description {
    padding: 34px 21px 21px;
    height: 266px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course .course-description p, .course .course-description h2 {
    color: var(--white);
}

.course .course-description h2 {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 100;
}

.course .course-description p {
    flex-grow: 1;
    font-size: 15px;
}

.course .course-description button {
    border: none;
    background-color: transparent;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.course .course-description button span {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.course .course-description button span:hover {
    transition: 400ms ease;
    opacity: 0.7;
}

/********************/
/* Style the FOURTH SECTION (carousel) */
/********************/

.fourth-section {
    background-color: var(--lighter-secondary-color);
    padding: 31px 100px 36px;

}

.fourth-section .section-caption {
    color: var(--white);
    opacity: 0.9;
    margin-bottom: 67px;
    font-weight: 100;
    margin-left: 22%;
}

.carousel-wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}

.carousel-btn {
    border: none;
    background-color: transparent;
}

.carousel-btn img {
    width: 18px;
    height: 36px;
    cursor: pointer;
}

.carousel-btn.right-arrow-btn img {
    transform: rotateY(3.142rad);
}

.carousel {
    display: flex;
    column-gap: 100px;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 950px;
}

.carousel .item {
    opacity: 0;
    visibility: hidden;
    transition: visibility 5s ease, opacity 5s ease;
    position: absolute;
    width: 250px;
    display: flex;
}

.carousel .item.active:nth-child(1), .carousel .item:nth-child(1) {
    left: 0;
}

.carousel .item.active:nth-child(2), .carousel .item:nth-child(2) {
    left: 350px;
}

.carousel .item.active:nth-child(3), .carousel .item:nth-child(3) {
    left: 700px;
}

.carousel .item.active {
    margin-right: 0;
    visibility: visible;
    opacity: 1;
    position: absolute;
    text-align: center;
}

.carousel-dots {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.carousel-dots .dot {
    width: 7px;
    height: 7px;
    background-color: var(--white);
    border-radius: 50%;
}

/********************/
/* Style the FIFTH SECTION (accordion) */
/********************/

.fifth-section {
    background-color: var(--darker-secondary-color);
    padding: 105px 62px 62px 62px;
    display: flex;
    justify-content: center;
    font-family: 'CustomFont2', Arial, Helvetica, sans-serif;
    color: var(--white);
}

.accordion {
    width: 900px;
}

.accordion .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.accordion .section-header button {
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
}

.accordion .section-header h2 {
    opacity: 0.9;
    font-size: 24px;
    font-weight: 100;
}

.accordion-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.accordion-item .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    height: 80px;
    cursor: pointer;
}

.accordion-item .question span {
    font-size: 18px;
}

.accordion-item .question img {
    height: 24px;
    width: 24px;
}

.accordion-item .answer {
    font-size: 14px;
    line-height: 2;
    padding-bottom: 35px;
}

.hidden {
    display: none;
}

.accordion .answer .shifted {
    margin: 21px;
}

.accordion .answer .shifted p {
    margin: 3px;
}

/********************/
/* Style the FOOTER */
/********************/

.footer {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    padding: 43px 25px;
    color: var(--white);
    font-family: 'CustomFont2', Arial, Helvetica, sans-serif;
}

.footer-container {
    width: 980px;
    display: flex;
    justify-content: space-between;
}

.footer-container .copyright {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-size: 14px;
}

.footer-container .copyright .rules {
    cursor: pointer;
    transition: 400ms ease;
}

.footer-container .copyright .rules:hover {
    opacity: 0.6;
}

.footer-container .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.footer-container .contact .message-us {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    height: 39px;
    width: 162px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    transition: 400ms ease;
}

.footer-container .contact .message-us:hover {
    background-color: var(--white);
    color: var(--darker-secondary-color);
}

.footer-container .contact .social {
    display: flex;
    column-gap: 10px;
}

.footer-container .contact .social button {
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

/********************/
/* Hamburger Menu */
/********************/

#nav-icon {
    width: 50px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: var(--white);
    opacity: 1;
    border-radius: 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}


/* Icon 3 */

#nav-icon span:nth-child(1) {
    top: 0;
    width: 25px;
}

#nav-icon span:nth-child(2) {
    top: 18px;
}

#nav-icon span:nth-child(3) {
    top: 36px;
    width: 25px;
    right: 0;
}

#nav-icon.open {
    opacity: 0.4;
}

#nav-icon.open span:nth-child(1) {
    top: 9px;
    left: 4px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(3) {
    top: 26px;
    right: 3px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);

}

/********************/
/* MEDIA QUERY */
/********************/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .second-section {
        padding: 34px;
    }

    .second-section .description p {
        font-size: 17px;
    }

    .third-section {
        padding: 34px 10% 58px;
    }

    .first-section .caption {
        margin: 70px 0 10px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header .nav ul {
        display: none;
    }

    #nav-icon {
        display: block;
    }

    .carousel-btn {
        display: none;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .header {
        grid-template-columns: auto 1fr;
    }

    .header .logo-container img {
        margin-left: 20px;
    }

    .header .nav {
        margin-left: 18px;
        justify-content: flex-end;
    }

    .first-section .caption {
        margin: 70px 0 10px 10%;
    }

    .fourth-section {
        height: max-content;
        padding: 31px 64px 36px;
    }

    .carousel {
        min-width: 100%;
        min-height: 400px;
    }

    .carousel-wrapper {
        height: max-content;
        min-height: 100px;
    }

    .carousel .item.active:nth-child(1), .carousel .item:nth-child(1) {
        left: 0;
        top: 0;
    }

    .carousel .item.active:nth-child(2), .carousel .item:nth-child(2) {
        left: 0;
        top: 150px;
    }

    .carousel .item.active:nth-child(3), .carousel .item:nth-child(3) {
        left: 0;
        top: 300px;
    }

}